
<!DOCTYPE html>
<html>
  <head>
    <title> Message Board </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
    body{
      text-align: center;
      background-color: rgb(25, 59, 59);
    }

    .len {
      width: 600px; /* Adjust width as needed */
      height: 300px; /* Adjust height as needed */
      background-color: #f55; /* Background color */
      border-radius: 60px; /* Rounded corners */
      box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.9); /* Box shadow */
      margin: 0 auto; /* Center horizontally */
      display: flex; /* Center vertically */
      flex-direction: column; /* Stack items vertically */
      justify-content: center; /* Center horizontally within the div */
      align-items: center; /* Center vertically within the div */
      margin-bottom: 20px; /* Add margin to each box */
    }
    
  </style>

  <body>
    <header>
      <nav>
        <ul>
          <a href="/">Message Board</a> <br/>
          <a href="/new">Enter new messages</a>
        </ul>
      </nav>
    </header>