<%- include("layout/header") %>

    <form method="POST" action="/new">
      <input type="text" name="authorName" placeholder="Enter your name">
      <input type="text" name="message" placeholder="Enter your message">
      <button type="submit">Submit</button>
   </form>  
  </body>
</html>

